* {
  font-family : -apple-system,system-ui,sans-serif;
  line-height : 1.15;
}

h1, h2 {
  margin-bottom: 0px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #aca;
  padding-left: 10px;
  padding-bottom: 10px;
}

footer {
  color : #666;
  font-style : italic;
  font-weight : normal;
  font-size: 0.75em;
}

/* TABLES */

table {
  background-color : #eee;
  white-space : nowrap;
  border : #aaa solid 1px;
  padding : 2px;
}

td {
  padding-left : 5px;
  padding-right : 5px;
}

.bold {
  font-weight : bold;
  background-color : #aca;
}

.highlight:hover {
  background-color : #cac;
  opacity : 0.75;
}

/* MESSAGES */

.msg_ok {
  color : #080;
}

.msg_er {
  color : #800;
}

.msg_gr {
  color : #666;
  font-style : italic;
  font-weight : normal;
}

/* BUTTONS */

button > img {
  border : 0;
  vertical-align : bottom;
}

.button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
  background-color: #2c974b;
}

.button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
